<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wizturnbeaconr4"
    android:versionCode="4"
    android:versionName="0.0.4" >

    <uses-sdk
        android:minSdkVersion="18"
        android:targetSdkVersion="18" />
  
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
  
    <application
        xmlns:tools="http://schemas.android.com/tools"
        android:allowBackup="true"
        android:icon="@drawable/icon_android"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:replace="android:icon,android:theme"
        >
        
         <service android:name="com.wizturn.sdk.service.WizTurnService" />
        <activity
            android:name="com.wizturnbeaconr4.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
         <activity
            android:name="com.wizturnbeaconr4.WizTurnBeaconList"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
             >
        </activity>
    </application>

</manifest>
